/* Set background color for the cart */
[data-fc-cart] {
    background-color: #ffffff;
}

/* Customize button colors */
#fc .fc-action--checkout--button, 
#fc .fc-button--subscription-cancel, 
#fc .fc-button--submit {
    background: #ec6725 !important;
    border-color: #ec6725;
    text-shadow: 1px 1px 0px #ec6725;
}

/* Button hover states */
#fc .fc-action--checkout--button:hover, 
#fc .fc-action--checkout--button:focus, 
#fc .fc-button--subscription-cancel:hover, 
#fc .fc-button--subscription-cancel:focus, 
#fc .fc-button--submit:hover, 
#fc .fc-button--submit:focus {
    background: #d55614 !important;
    border-color: #d55614;
}

/* Sidecart top checkout button */
[data-fc-sidecart] #fc .fc-fixed-button-right .fc-btn-action {
    background: #ec6725;
}

/* Sidecart top checkout button - Hover */
[data-fc-sidecart] #fc .fc-fixed-button-right .fc-btn-action:hover {
    background: #d55614;
}

/* Customize SVG icons */
#fc .fa-lock,
#fc-cart .fc-action--checkout--button svg,
#fc .fc-checkout__section--payment svg.fc-svg-icon--lock {
    fill: #FFFFFF;
}

#fc .fa-caret-left,
#fc .fc-sidecart-only-fixed .fc-fixed-button-left svg {
    fill: #FFFFFF;
}

#fc .fa-caret-right,
[data-fc-sidecart] #fc .fa-caret-right,
#fc .fc-sidecart-only-fixed .fc-fixed-button-right svg {
    fill: #FFFFFF;
}

/* Spinner action on checkout submit button */
#fc .fc-button--submit .fc-spinner > div {
    background-color: #101a5c;
}

/* Responsive design */
@media (max-width: 768px) {
    #fc .fc-action--checkout--button, 
    #fc .fc-button--subscription-cancel, 
    #fc .fc-button--submit {
        font-size: 14px;
    }
}
